@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-middle-rgb: 200, 0, 255;
  --background-accent-rgb: 76, 0, 255;
  --background-end-rgb: 255, 255, 255; */
  --palette-1-rgb: 47, 0, 255
  --palette-2-rgb: 98, 0, 255
  --palette-3-rgb: 162, 0, 255
  --palette-4-rgb: 195, 0, 255
  --palette-5-rgb: 255, 0, 242
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    /* color: rgb(var(--foreground-rgb));
    background: linear-gradient(to top, transparent, rgb(var(--background-end-rgb))),
    rgb(var(--background-middle-rgb)) 200px,
    rgb(var(--background-accent-rgb)) 100px,
    rgb(var(--background-start-rgb)); */



    background: 
        linear-gradient(to bottom, transparent, #000000 180%), 
        linear-gradient(180deg, rgb(0, 0, 0), rgb(47, 0, 255), rgba(47, 0, 255, 0) 70%), 
        linear-gradient(225deg, rgb(0, 0, 0), rgb(144, 0, 255), rgba(98, 0, 255, 0) 70%), 
        linear-gradient(270deg, rgb(0, 0, 0),  rgb(204, 0, 255), rgba(162, 0, 255, 0) 70%), 
        linear-gradient(310deg, rgb(0, 0, 0),  rgb(255, 0, 225), rgba(195, 0, 255, 0) 70%), 
        linear-gradient(360deg, rgb(0, 0, 0),  rgb(76, 0, 255), rgba(255, 0, 242, 0) 70%); 
/*         linear-gradient(to bottom, transparent, #000000 100%),
        linear-gradient(0deg, white, rgb(var(--palette-1-rgb)), rgba(238, 64, 53, 0) 80%), 
        linear-gradient(45deg, white,  rgb(var(--palette-2-rgb)), rgba(243, 119, 54, 0) 80%), 
        linear-gradient(90deg, white,  rgb(var(--palette-3-rgb)), rgba(253, 244, 152, 0) 80%), 
        linear-gradient(135deg, white,  rgb(var(--palette-4-rgb)), rgba(123, 192, 67, 0) 80%), 
        linear-gradient(180deg, white,  rgb(var(--palette-5-rgb)), rgba(255, 0, 242, 0) 80%); */
}
